@model WebApp.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Brand @Model.Model</h4>
  
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <a asp-action="Edit" asp-route-id="@Model.Id">Change car</a>

  
</div>
<div>
    <br />
    <br />
    <p>Do you want to delete this car?</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-info" />
        
    </form>
     <br />
    <br />
    <a asp-action="Index">Go back to see cars available</a>
</div>
